/* estilos cuerpo página */
body{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0;
  border: 0;
}

/* logo Lean Switch */
.navbar-brand img{
  width: 10em;
}

/* logo Cima */
.navbar-brand2 img{
  width: 8em;
}

/* navbar con opacidad */
.color-nav{
  background-color: white;
  opacity: 0.92;
}

.hero-principal{
  padding-top: 80px;
}
/* elementos carousel */

.carousel-caption h1{
  font-size: 50px;
  color: white;
  font-weight: 600;
  text-shadow: 2px 2px #000000;
}

/* icono nosotros */
.content1 img{
  width: 17em;
}


/* texto nosotros */
.content1 h2{
  font-size: 40px;
  font-weight: 500;

}

/* tamaño iconos experticia, excelencia y alto impacto */
.icons img{
  width: 70%;
}

/* fondo color nuestros servicios */
.info{
  background-color: #f2f2f2;
  color: black;

}

.title2{
  font-size: 20px;
}


/* botones y sus colores */

.card{
  border: none;
}
.card a{
  border: 0px;
}

.card a.btn1{
  background-color: #89c7b8;
}

.card a.btn2{
  background-color: #f49321;s
}

.card a.btn3{
  background-color: #f4d429;
}

.card a.btn4{
  background-color: #ef5164;
}

/* botones y sus colores */
.contact-footer{
  background-color: #2c3549;
}

/* imagenes portadas cima y nuestros servicios */

#img-fluid {
  height: 50vh;
  background-size: cover;
  font-weight: 600;
}
.jumbotron1{
  background-image: url("../img/imagen4.jpg");
}

.jumbotron2{
  background-image: url("../img/cima-fondo.jpg");
}

.jumbotron3{
  background-image: url("../img/gestion-personas.jpg");
}

.jumbotron4{
  background-image: url("../img/mejoracontinua.jpg");
}

.jumbotron5{
  background-image: url("../img/comunicacion.jpg");
}

.jumbotron6{
  background-image: url("../img/cambio.jpg");
}

/* texto central en carousel*/
#text{
  font-size: 2em;
  padding-top: 130px;
  padding-bottom: 130px;
  text-shadow: 2px 2px #000000;
  font-weight: 500;
}

/* fotos contacto Cristobal y Eduardo*/
.contactimg img{
  width: 200px;
}

/* linea separadora formulario*/
hr{
  height: 1px;
  width:10%;
  background-color: #F1F1F1;
}

/* estilo para listas de descripción de servicios*/
.list li{
  text-align: left;
  list-style: none;
}
